<!--HTML job title & industry sector page-->

<label1>Job Title: </label1>
<input type="text" name="job_Title" id="job_Title" value = "<%= @change_user.job_title %>" maxlength="50" size="30" required><br><br>

<label1>Industry Sector:</label1>
<select name="industry_Sector" value = "<%= @change_user.get_industry_sectors %>" required>
  <option value = "<%= @change_user.get_industry_sectors %>" selected> <%= @change_user.get_industry_sectors %> </option>
  <%= erb :"common/industrySectorLoop" %>
</select>